extends ./_layout/_template

block title
	title #{conf.title}

block description
	meta(name="description", content="")

block content

	div.content-title
		div.content-title-inner
			h2
				span.title ABOUT

	div.container.content-profile

		div#fix-wrap.content-detail(style="margin-top: 0;")
			div#fix-skill-chart.skill-chart
				canvas#skillChart(width="325" height="325")
				div#graphLegend.graphLegend
					p.
						Percentage of experience

			div.content-skill
				h3.content-head Skill & Tools
				div.skill-items
					div.skill-item
						h4.detail-head HTML / CSS
						p.
							最も経験値のある業務。最近は、HTMLではJadeで効率化を図ったり、CSSではコンポーネント化やアニメーションでの最適化に従事しています。
						p.tag-skill.
							Sass / Compass / Responsive / Jade

					div.skill-item
						h4.detail-head JavaScript
						p.
							タブ・モーダルなどのコンポーネントの作成、CSSと連携したアニメーション、DOM操作の最適化、Android2系などの旧OSへの対応などがメインです。
						p.tag-skill.
							JQuery / AngularJS / Toolkit for CreateJS

					div.skill-item
						h4.detail-head CMS
						p.
							WordPressを使用してのコーポレートサイトのCMS化・ECサイト作成など。会員向けシステムや他言語サイト、APIとしての使用も経験。
						p.tag-skill.
							WordPress 

					div.skill-item
						h4.detail-head API
						p.
							JSやPHPを使用して各種APIとの連携をしてきました。
						p.tag-skill.
							Google Maps API / Googlen Analytics API / Google Custom Search API / Amazon API

					div.skill-item
						h4.detail-head Design
						p.
							主に個人業務でWEBサイトのデザインをしています。デザイナーではありませんが最も好きな業務でもあります。

					div.skill-item
						h4.detail-head Swift
						p.
							同僚の影響で、最近個人的に始めました。近いうちに1本リリースしたいと思っています。

					h4.detail-head Others
					p.
						社内ではGitHub、個人業務ではBitbucketを使用しています。またGruntでファイルの圧縮・結合、画像の最適化等を行っています。
					p.tag-skill.
						GitHub / Bitbucket / Grunt / Fireworks / Photoshop / SublimeText

			//- div
			//- 	h3.content-head Skill & Tools
			//- 	h4.detail-head Skill
			//- 	ul
			//- 		li sass / compass / Responsive / jade
			//- 		li JQuery / AngularJS
			//- 		li wordpress 
			//- 		li google API / analytics API / amazon API
			//- 	h4.detail-head Tools
			//- 	ul
			//- 		li git / grunt / fireworks / photoshop / SublimeText / Flash

		div.content.side-margin(style="margin-top: 30px;")

			h3.content-head Biography

			ul.timeline#biography

			
			

block script
	// build:js /portfolio/js/scripts-about.min.js
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/Chart.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/scripts-about.js")
	// endbuild
