extends ./_layout/_template

block title
	title #{conf.title}

block description
	meta(name="description", content="")

block css
	link(rel="stylesheet", href="#{conf.paths.root}/#{conf.paths.cssDir}/slick.css")

block content

	div(ng-app="WorksApp" style="min-height: 365px;")
		
		div(ng-view)


block script
	script.
		window.isVisited = (sessionStorage.getItem('imw-visited')) ? true : false;
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/slick.min.js")
	// build:js /portfolio/js/works/apps.min.js
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/angular.min.js")
	//- script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/angular-animate.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/angular-route.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/angular-resource.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/angular-sanitize.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/jquery.mixitup-2.0.4.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/works/app.js")
	// endbuild
	// build:js /portfolio/js/typed/typed.min.js
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/typed.min.js")
	script(src="#{conf.paths.root}/#{conf.paths.jsDir}/typed/typed.js")
	// endbuild
