extends ./_layout/_template

block title
	title #{conf.title}

block description
	meta(name="description", content="")


block content

	div.content-title
		div.content-title-inner
			h2
				span.title OTHER

	div.container

		div.content.side-margin

			h3.content-head(style="font-size: 36px;") About this site

			ul.about-this-site
				li
					h4 推奨ブラウザ
					p Google Chrome 最新版 / Firefox 最新版
				li
					h4 スキル・ツール
					p Sass / Compass / Jade / JQuery / AngularJS / Grunt
				li
					h4 Bitbucketリポジトリ
					p
						a.blank(href="https://bitbucket.org/hrty_admin/portfolio" target="_blank") https://bitbucket.org/hrty_admin/portfolio
				li
					h4 最終更新日
					p 2015年8月25日

		//
			div.content.side-margin

				h3.content-head(style="font-size: 36px;") Contact

				div.contact
					form(method="post" action="/portfolio/script/contact/mail.php")
						table
							tr
								th
									div お名前
								td
									input(type="text" name="お名前")
							tr
								th
									div メールアドレス
								td
									input(type="email" name="Email")
							tr
								th
									div タイトル
								td
									input(type="text" name="タイトル")
							tr
								th
									div お問い合わせ内容
								td
									textarea(rows="6" name="お問い合わせ内容")
							tr
								th
								td
									input.submit(type="submit" value="送信する")

	