extends ./_layout/_template

block title
	title #{conf.title}

block description
	meta(name="description", content="")


block content

	div.content-title
		div.content-title-inner
			h2
				span.title OTHER

	div.container

		div.content.side-margin

			h3.content-head(style="font-size: 36px;") Thank you for the inquiry

			div.post-area
				p.
					この度は、お問い合わせ頂き誠にありがとうございます。<br>お問い合わせの受付が完了致しました。<br>ご登録頂いたメールアドレスに自動返信メールが送信されます。<br>万が一、メールが届かない場合はメールアドレスに誤りがある可能性がありますのでご確認ください。
                  
