$sprites-layout: vertical;
$sprites-spacing: 2px;

$base-common-sprites: sprite-map( "sprite/common/*.png" , $layout: $sprites-layout, $spacing: $sprites-spacing);
$base-common-sprites-img: sprite-url($base-common-sprites);

%sprite-common {
     @include sprite-base-bg($base-common-sprites, $base-common-sprites-img);
}
@each $name in arrow_content, arrow_prev, arrow_next, arrow_down {
	.#{$name} {
		@include sprite-bg($base-common-sprites, #{$name});
	}
}

$base-bg_thumbnail-sprites: sprite-map( "sprite/bg_thumbnail/*.png" , $layout: $sprites-layout, $spacing: $sprites-spacing);
$base-bg_thumbnail-sprites-img: sprite-url($base-bg_thumbnail-sprites);

%sprite-bg_thumbnail {
     @include sprite-base-bg($base-bg_thumbnail-sprites, $base-bg_thumbnail-sprites-img, 1);
}
@each $name in th_bg_work_image, th_bg_work_image_pc_sp, th_bg_work_image_sp {
	.#{$name} {
		@include sprite-bg($base-bg_thumbnail-sprites, #{$name},"false","false","true",1);
	}
}

html {
	font-size: 62.5%;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	color: $base-font-color;
	font-family: "YuGothic", "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	// font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size: $base-font-size;
	position: relative;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $base-font-color;
}

input[type="button"],input[type="submit"] {
	-webkit-appearance: none;
}

// .copyright {
// 	@extend %gf;
// }

.image-replace {
	text-indent: 100%;
	display: block;
	overflow: hidden;
	white-space: pre;
	text-decoration: none;
}

.disnone {
	display: none !important;
}

.text-center {
	text-align: center;
}

$header-height: 268px;
.header-bg {
	height: $header-height;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.header {
	width: $site-width;
	margin: 0 auto;
	position: relative;
	h1 {
		padding-top: 80px;
		text-align: center;
	}
	.logo {
		@extend %gf400;
		font-size: 21px;
		color: #fff;
		display: inline-block;
		&:before {
			@extend %fa;
			content: '\f02d';
			display: block;
			font-size: 56px;
			margin-bottom: 10px;
		}
	}
}
.back-image {
	background: url('../image/bg_mainvis.jpg') no-repeat center center #000;
	@include background-size(cover);
	height: $header-height;
	width: 100%;
	position: fixed;
	top: 0;
}
.mask {
	background: url('../image/mask.png');
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.content-nav {
	width: 100%;
	margin: 50px auto 0;
	ul {
		text-align: center;
		font-size: 0;
	}
	li {
		display: inline-block;
		width: 186px;
	}
	a {
		color: #858F99;
		@include transition(.6s);
		position: relative;
		display: inline-block;
		text-align: center;
		padding: 0 3px;
		&:after {
			content: '';
			display: inline-block;
			width: 0;
			height: 1px;
			background-color: #919BA5;
			bottom: -8px;
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			@include transition(.3s);
		}
		&.current {
			color: #fff;
		}
		&:hover {
			color: #fff;
			// @include transform(rotateX(360deg));
			&:after {
				width: 100%;
			}
		}
	}
	.title {
		@extend %gf300;
		font-size: 15px;
	}
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

$content-title-height: 60px;
.content-title {
	height: $content-title-height;
	border-bottom: 1px solid $main-border-color;
	.content-title-inner {
		@include display-table(middle, fixed);
		width: $site-width;
		margin: 0 auto;
		height: 100%;
	}
	h2 {
		font-size: 21px;
		line-height: 1.4;
	}
	.title {
		@extend %gf100;
	}
	.content-title-right {
		position: relative;
		font-size: 14px;
	}
	.search-list {
		position: absolute;
		top: 0;
		right: 0;
		@include display-table(middle, auto);
		border-left: 1px solid $main-border-color;
		border-right: 1px solid $main-border-color;
		padding: 0 24px;
		font-size: 13px;
	}
	.search-item {
		height: $content-title-height;
		@extend %gf100;
		color: #999;
	}
	.select {
		position: relative;
		select {
			padding: 20px 22px 20px 0;
			@extend %gf300;
			cursor: pointer;
			background: none;
			border: none;
			z-index: 10;
			position: relative;
			@include appearance(none);
			text-indent: .01px;
			text-overflow: "";
			outline: none;
			font-size: inherit;
			color: inherit;
		}
	    &:hover, &:focus {
	        outline: none;
	    }
		&:after {
			@extend %sprite-common;
			@extend .arrow_down;
		}
	}
}
/*webkitに適用されるCSSハック*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.content-title .select:after {
		content: '';
		display: block;
		position: absolute;
		top: 5px;
		right: 0;
	}
}
/*Firefoxだけに適用されるCSSハック*/
@-moz-document url-prefix() {
	.content-title .select:after {
		content: '';
		display: block;
		position: absolute;
		top: 5px;
		right: 0;
	}
}

.container-wrap {
	position: relative;
	z-index: 5;
	background: #fff;
}
.container {
	margin-bottom: 50px;
}
.content {
	width: $site-width + 30px;
	margin: 0 auto;
	padding: 50px 0 0;
	clear: both;
}
.content-work-detail {
	@extend .content;
	padding-top: 40px;
	position: relative;
}
.content-inner {
	padding: 0 15px;
}

.side-margin {
	padding-left: 15px;
	padding-right: 15px;
}

.work-detail-info {
	width: 330px;
	font-size: 14px;
	border-left: 1px solid lighten($main-border-color, 5%);
	dl {

	}
	dt {
		color: $base-font-color;
		font-size: 16px;
		@extend %gf400;
		margin: 34px 0 6px;
		&:first-child {
			margin-top: 0;
		}
	}
	.blank {
		text-decoration: underline;
		&:after {
			@extend %fa;
			content: '\f08e';
			padding-left: 2px;
		}
	}
}

.work-category {
	li {
		display: inline-block;
		padding-right: 20px;
		margin-bottom: 0;
		&:before {
			@extend %fa;
			content: '\f00c';
			padding-right: 5px;

		}
	}
}
.ng-enter,.ng-leave,.ng-move{
  -webkit-transition: opacity 0.3s linear 1s;
  transition: opacity 0.3s linear 1s;
}
.ng-enter {
  opacity: 0;
}
.ng-enter.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  opacity: 1;
}
.ng-leave.ng-leave-active {
  opacity: 0;
}
.ng-move {
  opacity: .5;
}
.ng-move.ng-move-active {
  opacity: 1;
}

.work-list {
	@include clearfix();
	position: relative;
	min-height: 250px;
	// other-list用
	&.filtering {
		// @include transition(.3s);
		&.hidden {
			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				background: #fff;
				width: 100%;
			}
		}
	}
}
.work-item {
	width: 33.33%;
	@extend .side-margin;
	margin-bottom: 30px;
	float: left;
	position: relative;
	// @include transition(.8s);
	&.mix {
		display: none;
	}
	.bg-device {
		display: block;
		height: 100%;
		text-align: center;
		position: relative;
		&:after {
			@extend %sprite-bg_thumbnail;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.pc {
		&:after {
			@extend .th_bg_work_image;
		}
		.img-pc {
			padding-top: 38px;
			width: 215px;
		}
		.img-sp {
			display: none;
		}
	}
	.pc-sp {
		&:after {
			@extend .th_bg_work_image_pc_sp;
		}
		.img-pc {
			position: absolute;
			top: 36px;
			left: 51px;
			width: 183px;
		}
		.img-sp {
			position: absolute;
			top: 66px;
			right: 19px;
			width: 60px;
		}
	}
	.sp {
		&:after {
			@extend .th_bg_work_image_sp;
		}
		.img-pc {
			display: none;
		}
		.img-sp {
			padding-top: 46px;
			width: 73px;
		}
	}
}
.hover-tgt {
	height: 220px;
	background: #f5f5f5;
	.hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0);
		z-index: 10;
		color: #fff;
		text-align: left;
		-webkit-transition: background-color .8s ease;
		   -moz-transition: background-color .8s ease;
		    -ms-transition: background-color .8s ease;
		     -o-transition: background-color .8s ease;
		        transition: background-color .8s ease;
	}
	h3 {
		position: absolute;
		bottom: 64px;
		left: 0;
		font-size: 20px;
		line-height: 1.3;
		padding-right: 60px;
		opacity: 0;
		-webkit-transition: all .7s ease;
		   -moz-transition: all .7s ease;
		    -ms-transition: all .7s ease;
		     -o-transition: all .7s ease;
		        transition: all .7s ease;
	}
	.visit {
		color: #fff;
		border: 1px solid #fff;
		display: inline-block;
		padding: 6px 15px;
		font-size: 13px;
		position: absolute;
		bottom: 30px;
		left: 16px;
		opacity: 0;
		z-index: 20;
		@extend %gf300;
		-webkit-transition: all .7s ease .1s;
		   -moz-transition: all .7s ease .1s;
		    -ms-transition: all .7s ease .1s;
		     -o-transition: all .7s ease .1s;
		        transition: all .7s ease .1s;
		&:after {
			@extend %fa;
			content: '\f08e';
			padding-left: 5px;
		}
		&:hover {
			background: #fff;
			color: $base-font-color;
		}
	}
	&:hover {
		.hover {
			background-color: rgba(0,0,0,0.7);
		}
		h3 {
			opacity: 1;
			-webkit-transform: translate(30px, 0);
			   -moz-transform: translate(30px, 0);
			    -ms-transform: translate(30px, 0);
			     -o-transform: translate(30px, 0);
			        transform: translate(30px, 0);
		}
		.visit {
			opacity: 1;
			-webkit-transform: translate(30px, 0);
			   -moz-transform: translate(30px, 0);
			    -ms-transform: translate(30px, 0);
			     -o-transform: translate(30px, 0);
			        transform: translate(30px, 0);
		}
	}
}
.other-work-item {
	@include clearfix();
	&+.other-work-item {
		border-top: 1px solid $main-border-color;
		padding-top: 18px;
	}
}
.other-list-detail {
	float: left;
	width: 65%;
	padding-left: 18px;
	h4 {
		font-size: 22px;
		margin: 15px 0 10px;
	}
	dl {
		padding-top: 14px;
		padding-left: 2px;
		@include clearfix();
	}
	dt {
		font-size: 15px;
		@extend %gf400;
		color: $base-font-color;
		width: 130px;
		float: left;
	}
	dd {
		float: left;
		font-size: 14px;
		color: #666;
	}
	.work-category li {
		padding-right: 15px;
	}
	.blank {
		color: #666;
		text-decoration: underline;
		&:after {
			@extend %fa;
			content: '\f08e';
			padding-left: 1px;
		}
	}
}

.other-works-summary {
	width: $site-width;
	margin: 0 auto 30px;
	border: 1px solid #d2d9dd;
	padding: 15px 0;
	text-align: center;
	color: #6a6a6a;
	background: #e7ecee;
}
.news-wrap {
	width: $site-width;
	margin: 0 auto;
	padding: 15px 50px;
	border: 1px solid #FFE5C8;
	color: #666;
	border-top: none;
	background: #FFFBF7;
	dl {
		display: table;
		line-height: 1.5;
		dt,dd {
			display: table-cell;
		}
		dt {
			width: 150px;
		}
		dd {

		}
		a {
			color: #999;
			text-decoration: underline;
			&.blank {
				&:after {
					@extend %fa;
					content: '\f08e';
					padding-left: 1px;
				}
			}
		}
	}
}

.work-page-list {
	a {
		width: 560px;
		margin: 0 auto;
		text-align: center;
		display: block;
		@extend %gf300;
		border: 1px solid #ddd;
		line-height: 55px;
		height: 55px;
		position: relative;
		&:after {
			position: absolute;
			top: 14px;
			display: block;
			content: '';
			@extend %sprite-common;
		}
	}
	.prev,.next {
		&:after {
			@include transition(.7s);
		}
	}
	.prev {
		&:after {
			left: 30px;
			@extend .arrow_prev;
		}
		&:hover:after {
			@include transform(translateX(-10px));
		}
	}
	.next {
		&:after {
			right: 30px;
			@extend .arrow_next;
		}
		&:hover:after {
			@include transform(translateX(10px));
		}
	}
}

.detail-title {
	text-align: center;
	min-height: 85px;
	opacity: 0;
	-webkit-transform: translateY(12px);
	   -moz-transform: translateY(12px);
	    -ms-transform: translateY(12px);
	     -o-transform: translateY(12px);
	        transform: translateY(12px);
	-webkit-transition: transform 1s ease, opacity 1.5s ease;
	   -moz-transition: transform 1s ease, opacity 1.5s ease;
	    -ms-transition: transform 1s ease, opacity 1.5s ease;
	     -o-transition: transform 1s ease, opacity 1.5s ease;
	        transition: transform 1s ease, opacity 1.5s ease;
	&.visible {
		opacity: 1;
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}
	h3 {
		font-size: 40px;
		line-height: 1.3;
	}
	span {
		font-size: 20px;
		margin-top: 8px;
		display: block;
	}
	.visit {
		margin-top: 3px;
		border: 1px solid lighten($anchor-border-color,10%);
		display: inline-block;
		padding: 6px 15px;
		font-size: 14px;
		@extend %gf300;
		-webkit-transition: all .7s ease .1s;
		   -moz-transition: all .7s ease .1s;
		    -ms-transition: all .7s ease .1s;
		     -o-transition: all .7s ease .1s;
		        transition: all .7s ease .1s;
		&:after {
			@extend %fa;
			content: '\f08e';
			padding-left: 5px;
		}
		&:hover {
			background: $anchor-border-color;
			border: 1px solid $anchor-border-color;
			color: #fff;
		}
	}
}

.columns {
	@include display-table(top,fixed);
	&>div {
		padding-right: 30px;
		&+div {
			padding-right: 0;
			padding-left: 30px;
		}
	}
	.columns {
		&>div {
			padding-right: 15px;
			&+div {
				padding-left: 15px;
			}
		}
	}
}

.content-detail {
	font-size: 15px;
	line-height: 1.7;
	color: #666;
	width: $site-width;
	margin: 50px auto 0;
	.detail-head {
		@extend %gf400;
		line-height: 1.3;
		margin-top: 50px;
		margin-bottom: 12px;
		padding-bottom: 14px;
		font-size: 20px;
		color: $base-font-color;
		border-bottom: 1px solid $main-border-color;
	}
	&.columns>div>.detail-head:first-child {
		margin-top: 0;
	}
	ul {
		li {
			margin-bottom: 2px;
		}
	}
}

.post-area {
	h3 {
		font-weight: bold;
		color: $base-font-color;
		font-size: 18px;
		margin-top: 50px;
		&:first-child {
			margin-top: 0;
		}
	}
	p {
		line-height: 1.7;
		margin-top: 30px;
		font-size: 15px;
		a {
			color: #4078c0;
			text-decoration: underline;
			&.blank {
				&:after {
					@extend %fa;
					content: '\f08e';
					padding-left: 1px;
				}
			}
		}
	}
}

.page-navi {
	margin: 80px auto;
	ul {
		@include display-table(middle,fixed);
		width: 600px;
		margin: 0 auto;
		border: 1px solid #ddd;
	}
	li {
		@extend %gf300;
	}
	.go-list {
		width: 150px;
		text-align: center;
	}
	a {
		position: relative;
		padding: 20px;
		display: block;
		&:after {
			position: absolute;
			top: 14px;
			display: block;
			content: '';
			@extend %sprite-common;
		}
	}
	.prev,.next {
		a {
			padding-left: 70px;
			padding-right: 70px;
			&:after {
				@include transition(.7s);
			}
		}
	}
	.prev {
		a {
			&:after {
				left: 30px;
				@extend .arrow_prev;
			}
			&:hover:after {
				@include transform(translateX(-10px));
			}
		}
	}
	.next {
		a {
			text-align: right;
			&:after {
				right: 30px;
				@extend .arrow_next;
			}
			&:hover:after {
				@include transform(translateX(10px));
			}
		}
	}
}

.footer {
	background: #234B5B;
	padding: 25px 0 27px;
	margin-top: 100px;
	footer {
		width: $site-width;
		margin: 0 auto;
	}
	.logo {
		display: inline-block;
		@extend %gf400;
		color: #fff;
		font-size: 14px;
		position: relative;
		padding-left: 33px;
		&:before {
			@extend %fa;
			content: '\f02d';
			display: inline-block;
			font-size: 30px;
			position: absolute;
			top: -8px;
			left: 0;
		}
	}
	small {
		display: inline-block;
		margin-left: 15px;
		@extend %gf300;
		color: #fff;
		opacity: .8;
		font-size: 12px;
	}
}


.work-images-wrap {
	background: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 40px;
	position: relative;
	&.hidden {
		visibility: hidden;
	}
	&.active {
		visibility: visible;
	}
	.toggle-devices,.slick-next,.slick-prev,.slick-dots {
		opacity: 0;
		@include transition(all .7s);
	}
	.toggle-devices {
		@include transform(translateY(10px));
	}
	.slick-next {
		@include transform(translateX(30px));
	}
	.slick-prev {
		@include transform(translateX(-30px));
	}
	.slick-dots {
		@include transform(translateY(10px));
	}
	&:hover {
		.toggle-devices,.slick-dots {
			@include transform(translateY(0));
			opacity: 1;
		}
		.slick-next,.slick-prev {
			@include transform(translateX(0));
			opacity: 1;
		}
	}
}
.work-image-wrap {
	text-align: center;
	position: relative;
	height: 560px;
	opacity: 1;
	@include transition(opacity .4s);
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	&.img-pc {
		padding-top: 58px;
		.work-image {
			width: 650px;
			margin: 0 auto;
		}
		&:after {
			background: url('../image/bg_work_image.png') no-repeat center bottom;
			width: 920px;
			height: 501px;
		}
	}
	&.img-sp {
		padding-top: 90px;
		.work-image {
			width: 218px;
			margin: 0 auto;
		}
		&:after {
			background: url('../image/bg_work_image_sp.png') no-repeat center bottom;
			width: 241px;
			height: 500px;
		}
	}
	&.hidden {
		visibility: hidden;
		height: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		.slick-dots {
			display: none !important;
		}
	}
}
// ======================
// slick-slider
// ======================
$slick-circle-height: 80px;
$slick-elm-default-color: #ddd;
$slick-elm-active-color: #999;
.slick-slider {
	position: static;
	.slick-prev,.slick-next {
		position: absolute;
		top: 220px;
	    display: block;
	    line-height: 0px;
	    font-size: 0px;
	    width: 80px;
	    height: 80px;
	    cursor: pointer;
	    background: transparent;
	    color: transparent;
	    padding: 0;
	    outline: none;
	    border: transparent;
	    z-index: 20;
	    &:hover, &:focus {
	        outline: none;
	    }
    	&:hover {
    		&:after {
				border-top: 1px solid #666;
				border-right: 1px solid #666;
    		}
    	}
	    &:after {
			content:"";
			display: inline-block;
			cursor: pointer;
			width: 35px;
			height: 35px;
			border-top: 1px solid $slick-elm-active-color;
			border-right: 1px solid $slick-elm-active-color;
			margin-top: 0;
	    }
	}
	.slick-prev {
		left: 25px;
		&:after {
			-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}
	}
	.slick-next {
		right: 25px;
		&:after {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 3px;
		right: 0;
		width: $site-width;
		li {
			display: inline-block;
			padding: 0 3px;
		}
		button {
		    line-height: 0px;
		    font-size: 0px;
		    cursor: pointer;
		    background: transparent;
		    color: transparent;
		    padding: 0;
		    border: none;
		    outline: none;
		    background-color: #D0D0D1;
		    z-index: 10;
		    width: 10px;
		    height: 10px;
		    @include border-radius(5px);
		}
		.slick-active button {
			background-color: #666;
		}
	}
}
.toggle-devices {
	font-size: 0;
	position: absolute;
	@include clearfix();
	bottom: 7px;
	right: 13px;
	div {
		display: inline-block;
		text-align: center;
		float: left;
		color: $slick-elm-active-color;
		cursor: pointer;
		margin-left: 5px;
		@include border-radius();
		width: 48px;
		&.active {
			background-color: #E3E2DF;
			color: #666;
			cursor: default;
		}
		&:hover {
			background-color: #E3E2DF;
			color: #666;
		}
	}
	.btn-pc:before,.btn-sp:before {
		display: inline-block;
		font-size: 22px;
		@extend %fa;
		padding: 5px 0;
	}
	.btn-pc:before {
		content: '\f109';
	}
	.btn-sp:before {
		content: '\f10b';
	}
}
// ======================
// /slick-slider
// ======================

.content-profile {
	margin-bottom: 170px;
	.content-detail {
		@include clearfix();
		position: relative;
		ul {
			font-size: 16px;
		}
	}
}

$skill-chart-width: 410px;
.skill-chart {
	width: $skill-chart-width;
	padding-top: 70px;
	position: absolute;
	top: 0;
}

.content-skill {
	width: $site-width - $skill-chart-width;
	margin-top: 70px;
	margin-left: $skill-chart-width;
	.content-head {
		padding-bottom: 10px;
	}
}

.skill-items {
	margin-left: 2px;
}

.skill-item {
	cursor: default;
	&:hover {
		color: #000 !important;
		.detail-head {
			border-color: #aeaeae;
		}
	}
}

.tag-skill {
	&:before {
		content: '\f046';
		display: inline-block;
		margin-right: 5px;
		@extend %fa;
	}
}

.graphLegend {
	margin-top: 10px;
	display: none;
	p {
		margin: 8px 0 0 90px;
		font-size: 14px;
		color: #666;
		@extend %gf300;
	}
}
.doughnut-legend {
	text-align: center;
	li {
		line-height: 1;
		text-align: left;
		display: inline-block;
		position: relative;
		margin-bottom: 4px !important;
		margin-right: 10px;
		@include border-radius();
		padding: 3px 8px 3px 28px;
		font-size: 14px;
		cursor: default;
		@extend %gf300;
		width: 120px;
		&:hover {
			background-color: #fafafa;
		}
	}
	span {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		height: 100%;
		@include border-radius();
	}
}

.content-head {
	font-size: 40px;
	@extend %gf400;
	line-height: 1;
	color: #444;
}

.timeline {
	margin: 30px 0;
	margin-left: 5px;
	&> li {
		margin-bottom: 60px;
		overflow: hidden;
		margin: 0;
		position: relative;
	}
}
.timeline-date {
	width: 120px;
	float: left;
	margin-top: 52px;
	@extend %gf300;
	font-size: 16px;
}
.timeline-content {
	width: 86%;
	float: left;
	border-left: 1px solid $main-border-color;
	padding-left: 58px;
	h3 {
		margin: 50px 0 18px;
		font-weight: bold;
		font-size: 18px;
	}
	p {
		line-height: 1.6;
	}
	&:before {
		content: '';
		width: 14px;
		height: 14px;
		background: #8BAEBB;
		position: absolute;
		left: 113px;
		top: 54px;
		border-radius: 100%;
	}
}


// ======================
// loading
// ======================
#load {
	&.loading {
		opacity: 0;
		@include transition(opacity 1s);
		&.loaded {
			opacity: 1;
		}
	}
}

// ======================
// /loading
// ======================


// ======================
// initialize
// ======================
#initialize {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 100;
	&.hidden {
		display: none;
	}
}
#typeWrap {
	text-align: center;
	position: absolute;
	top: -80px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	width: 550px;
	height: 150px;
}
#typing {
	@extend %gf400;
}
#typeLogo {
	@extend %gf400;
	margin-bottom: 10px;
	opacity: 0;
	@include transition(opacity 1.3s);
	&:before {
		@extend %fa;
		content: '\f02d';
		display: block;
		font-size: 90px;
	}
	&.visible {
		opacity: 1;
	}
}
.typed-cursor{
	@extend %gf300;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.about-this-site {
	padding: 22px 2px 0;
	text-align: left;
	li {
		margin: 20px 0;
		@include display-table(middle, fixed);
	}
	h4 {
		font-size: 16px;
		font-weight: bold;
		width: 240px;
		position: relative;
		padding-left: 26px;
		&:before {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			background: #8BAEBB;
			position: absolute;
			top: 1px;
			left: 0;
		}
	}
	p {
		font-size: 16px;
		color: #666;
	}
	a {
		color: #4078c0;
		text-decoration: underline;
		&.blank {
			&:after {
				@extend %fa;
				content: '\f08e';
				padding-left: 1px;
			}
		}
	}
}

.contact {
	margin: 38px 2px 0;
	width: 70%;
	table {
		width: 100%;
	}
	th {
		padding-top: 4px;
		padding-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
		width: 240px;
		vertical-align: top;
		div {
			position: relative;
			padding-left: 26px;
			&:before {
				content: '';
				display: block;
				width: 14px;
				height: 14px;
				background: #8BAEBB;
				position: absolute;
				top: 1px;
				left: 0;
			}
		}
	}
	td {
		padding-bottom: 8px;
	}
	input[type="text"],input[type="email"],textarea {
		width: 100%;
		background: #f5f5f5;
		border: none;
		padding: 4px;
		margin: 0;
	}
	.submit {
		cursor: pointer;
		background: lighten(#4078c0, 10%);
		border: none;
		padding: 10px 15px;
		color: #fff;
		margin: 0;
		@include border-radius();
		@include transition(.7s);
		&:hover {
			background: #4078c0;
		}
	}
}