
// tablet <
@media (min-width: $screen-sm-min) {

body {
	font-size: $base-font-size-pc;
}

.disnone-pc {
	display: none !important;
}

}



// desktop <
@media (min-width: $screen-md-min) {
	

}



// max width
@media (min-width: $screen-lg-min) {


}