// sprite
// -------------------------------

// ▼ how to use
// $sprites-layout: vertical;
// $sprites-spacing: 4px;

// $base-common-sprites: sprite-map( "sprite/common/*.png" , $layout: $sprites-layout, $spacing: $sprites-spacing);
// $base-common-sprites-img: sprite-url($base-common-sprites);
// .sprite-common {
//      @include sprite-base-bg($base-common-sprites, $base-common-sprites-img);
// }
// .icon-common-win {
// 	@include sprite-bg($base-common-sprites, icon-win);
// }

@mixin sprite-base-bg($sprites, $sprite-img, $pixelRatio:2) {
    background: $sprite-img no-repeat;
    $sprite-file-data: sprite-path($sprites);
    @include background-size(ceil(image-width($sprite-file-data) / $pixelRatio) ceil(image-height($sprite-file-data) / $pixelRatio));
}
@mixin sprite-bg($sprites, $file-name, $width: "false", $height: "false", $size: "true", $pixelRatio:2) {
    $sprite-file-data: sprite-file($sprites, $file-name);
    background-position: floor(nth(sprite-position($sprites, $file-name), 1) / $pixelRatio) floor(nth(sprite-position($sprites, $file-name), 2) / $pixelRatio) + 1px;
	@if $size == "true" {
    	@if $width == "false" {
        	width: ceil(image-width($sprite-file-data) / $pixelRatio);
        } @else {
        	width: $width;
        }
        @if $height == "false" {
        	height: ceil(image-height($sprite-file-data) / $pixelRatio) + 2px;
    	} @else {
        	height: $height + 2px;
        }
    }
}


// backgroundimage
// -------------------------------

@mixin bg-img($path, $size:"false", $pixelRatio:2) {
    background-image: url($path);
    background-repeat: no-repeat;
    @if $size == "false" {
        $width: ceil(image-width($path) / $pixelRatio);
        $height: ceil(image-height($path) / $pixelRatio);
        width: $width;
        height: $height;
        @include background-size($width auto);
    } @else {
        $image-width: image-width($path);
        $pixelRatio: $image-width / $size;
        $width: ceil(image-width($path) / $pixelRatio);
        $height: ceil(image-height($path) / $pixelRatio);
        width: $width;
        height: $height;
        @include background-size($width auto);
    }
    display: block;
}


// table display
// -------------------------------

@mixin display-table($vertical-pos, $layout) {
    display: table;
    @if $layout == fixed {
        table-layout: fixed;
        width: 100%;
    } @else if $layout == auto {
        width: auto;
    } @else {
        width: 100%;
    }
    > * {
        display: table-cell;
        vertical-align: $vertical-pos;
    }
}


// float left
// -------------------------------

@mixin float-left($wrap-width, $element-width, $num, $first: null) {
    $space: floor(($wrap-width - ($element-width * $num)) / ($num - 1));
    display: block;
    width: $element-width;
    float: left;
    margin-left: $space;
    margin-right: 0;
    &:first-child {
        margin-left: 0;
    }
    @if $first {
        &.first {
            margin-left: 0;
            clear: both;
        }
    }
}


// btn
// -------------------------------

@mixin btn-color($bg-color) {
    $shadow-color: darken($bg-color, 10%);
    background-color: $bg-color;
    @include box-shadow(0 5px $shadow-color);
    @include transition(background-color .3s, box-shadow .3s);
    // desktop <
    @media (min-width: $screen-md-min) {
        &:hover {
            $hover-color: lighten($bg-color, 6%);
            $hover-shadow-color: darken($hover-color, 6%);
            background-color: $hover-color;
            @include box-shadow(0 5px $hover-shadow-color);
        }
    }
}


// animation
// -------------------------------

//-webkit-, -moz-, -ms-, -o-, null;
$prefixes: -webkit-, null;
//引数：スペース区切り（複数のキーフレームがある場合はそれらをカンマ区切り）
@mixin animation($value...) {
    @each $prefix in $prefixes {
        #{$prefix}#{animation}: $value;
    }
}
@mixin keyframes($name, $moz: false, $ms: false, $o: false){
    @-webkit-keyframes $name {
        @content;
    }
    @if $moz {
        @-moz-keyframes $name {
        @content;
    }
    }
    @if $ms {
        @-ms-keyframes $name {
        @content;
    }
    }
    @if $o {
        @-o-keyframes $name {
        @content;
    }
    }
        @keyframes $name {
        @content;
    }
}