<!DOCTYPE html>
//- =====================================
//- 共有変数
block vars
//- 共有変数
//- =====================================
html(lang="ja")
	head
		meta(name="robots" content="noindex,nofollow,noarchive")
		meta(charset="UTF-8")
		base(href="#{conf.paths.root}/")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=1050")
		block title
		block description
		block css
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700")
		// build:css /portfolio/css/styles.min.css
		link(rel="stylesheet", href="#{conf.paths.root}/#{conf.paths.cssDir}/styles.css")
		// endbuild
	body
		if (conf.fileName == "dist/portfolio/index.html")
			div#initialize
				div#typeWrap
					div#typeLogo
					span#typing

		div#load

			div.header-bg
				div.back-image
				div.mask
				header.header
					h1
						a(href="#{conf.paths.root}/")
							span.logo.
								#{conf.title}
					nav.content-nav
						ul
							li
								if (conf.fileName == "dist/portfolio/index.html")
									a(href="#{conf.paths.root}/index.html").current
										span.title WORKS
								else
									a(href="#{conf.paths.root}/index.html")
										span.title WORKS
							li
								if (conf.fileName == "dist/portfolio/about.html")
									a(href="#{conf.paths.root}/about.html").current
										span.title ABOUT
								else
									a(href="#{conf.paths.root}/about.html")
										span.title ABOUT
							li
								if (conf.fileName == "dist/portfolio/other.html")
									a(href="#{conf.paths.root}/other.html").current
										span.title OTHER
								else
									a(href="#{conf.paths.root}/other.html")
										span.title OTHER

			div.container-wrap

				block content

			//- include ../_layout/
			div.footer
				footer
					a(href="#{conf.paths.root}/").logo #{conf.title}
					small Copyright © #{conf.title} All rights reserved.



		// build:js /portfolio/js/scripts.min.js
		script(src="#{conf.paths.root}/#{conf.paths.jsDir}/lib/jquery.js")
		//- IE8以下非対応
		script(src="#{conf.paths.root}/#{conf.paths.jsDir}/ie.js")
		script(src="#{conf.paths.root}/#{conf.paths.jsDir}/scripts.js")
		// endbuild
		script.
			console.log('#{conf.menuName} #{conf.fileName} #{conf.isIndex}');
			
		block script
