div.content-title
	div.content-title-inner
		h2
			span.title WORKS

div.container(style="margin-bottom: 0;")
	div.content-work-detail.side-margin
		div.detail-title(ng-class="{visible: work.title}")
			h3 {{work.title}}
			span {{work.summary}}
			//- a(href="{{work.visit}}" target="_blank").visit VISIT

		div.work-images-wrap(ng-class="(showImg) ? 'active' : 'hidden' ")
			div.work-image-wrap.img-pc(ng-show="work.imagePC[0]" ng-class="{hidden: deviceImg != 'pc'}")
				div.work-image.work-carousel-pc
					div(ng-repeat="image in work.imagePC" ng-repeat-watch)
						img(ng-src="{{image}}", alt="")

			div.work-image-wrap.img-sp(ng-show="work.imageSP[0]" ng-class="{hidden: deviceImg != 'sp'}")
				div.work-image.work-carousel-sp
					div(ng-repeat="image in work.imageSP" ng-repeat-watch)
						img(ng-src="{{image}}", alt="")

			div.toggle-devices(ng-show="work.imagePC[0] && work.imageSP[0]")
				div.pc(ng-click='toggleDevices("pc")' ng-class="{active: deviceImg == 'pc'}")
					span.btn-pc
				div.sp(ng-click='toggleDevices("sp")' ng-class="{active: deviceImg == 'sp'}")
					span.btn-sp
			
div.container
	div.content.columns.content-detail(style="margin-top: 0;")

		div
			div.post-area(ng-bind-html="work.content" style="padding: 0 10px 0 4px;")

		div.work-detail-info
			dl
				dt Scope
				dd
					ul.work-category
						li(ng-repeat="scope in work.scope") {{scope}}
				dt Release
				dd {{work.release}}
				dt Devices
				dd {{work.devices}}
				dt Working Form
				dd {{work.workingForm}}
				dt(ng-show="work.skillTools") Skill & Tools
				dd(ng-show="work.skillTools") {{work.skillTools}}
				dt URL
				dd
					a(class="blank" href="{{work.visit}}" target="_blank") {{work.visit}}

div.page-navi
	ul
		li.prev
			a(href="#{conf.paths.root}/works/{{getPrevId(currentWorkNumber)}}" ng-show="getPrevId(currentWorkNumber)") PREV
		li.go-list
			a(href="#{conf.paths.root}/") BACK LIST
		li.next
			a(href="#{conf.paths.root}/works/{{getNextId(currentWorkNumber)}}" ng-show="getNextId(currentWorkNumber)") NEXT
