div.content-title
	div.content-title-inner
		h2
			span.title WORKS
		div.content-title-right
			div.search-list
				div.search-item
					span.select
						select#FilterSelect
							option(value="all") ALL WORKS
							optgroup(label="SCOPE")
								option(value=".HTMLCSS") HTML / CSS
								option(value=".JavaScript") JavaScript
								option(value=".CMS") CMS
								option(value=".API") API
								option(value=".Design") Design
								option(value=".企画提案") 企画 / 提案
								option(value=".サイト運営") サイト運営
								option(value=".ディレクション") ディレクション
								option(value=".情報設計") 情報設計
							optgroup(label="WORKING FORM")
								option(value=".社内業務") 社内業務
								option(value=".個人業務") 個人業務

							//- optgroup(label="Devices")
							//- 	option(value="PC / SmartPhone") PC / SmartPhone
							//- 	option(value="PC") PC
							//- 	option(value="SmartPhone") SmartPhone

div.container
	div.news-wrap
		dl
			dt 2015年8月25日
			dd.
				<a href="/portfolio/backbone-chordgenerator/chord-generator.html" target="_blank">コードジェネレータをBackbone.jsを使用して書き換えたものをアップしました</a><br>（<a href="http://www.ggenn.com/chord/chord-generator.html" target="_blank" class="blank">コードジェネレータ</a>、<a href="https://bitbucket.org/hrty_admin/backbone_chordgenerator" target="_blank" class="blank">bitbucket</a>）
	div.content.content-work
		ul.work-list#workContainer
			li.work-item.mix(ng-repeat="work in works" ng-scope-class ng-repeat-watch)
				div.hover-tgt(ng-set-devices-info)
					a(href="#{conf.paths.root}/works/{{work.id}}" class="{{devicesInfo}} bg-device")
						div
							img(ng-src="{{devicesImage.imagePC}}", alt="").img-pc
							img(ng-src="{{devicesImage.imageSP}}", alt="").img-sp
						div.hover
							h3 {{work.title}}
					a(href="{{work.visit}}" target="_blank").visit VISIT



div.work-page-list
	a.next(href="#{conf.paths.root}/works/others.html") OTHER WORKS

