div.content-title
	div.content-title-inner
		h2
			span.title WORKS
		div.content-title-right
			div.search-list
				div.search-item
					span.select
						select(ng-model="sort")
							option(value="") ALL WORKS
							optgroup(label="SCOPE")
								option(value="HTML / CSS") HTML / CSS
								option(value="JavaScript") JavaScript
								option(value="CMS") CMS
								option(value="API") API
								option(value="Design") Design
								option(value="企画 / 提案") 企画 / 提案
								option(value="サイト運営") サイト運営
								option(value="ディレクション") ディレクション
								option(value="情報設計") 情報設計
							optgroup(label="WORKING FORM")
								option(value="社内業務") 社内業務
								option(value="個人業務") 個人業務

div.container
	div.content.content-work
		div.other-works-summary 技術的・コンテンツ内容的に特記事項の無いものに関してはこちらにまとめています。
		ul.work-list.side-margin.filtering(ng-class="(filtering) ?  'hidden' : 'active' " ng-show="filteredOtherWorks.length > 0")
			li.other-work-item(ng-repeat="work in filteredOtherWorks = (otherWorks | filterd:sort)")
				div.work-item.hover-tgt(ng-set-devices-info style="background:transparent;")
					div(href="###" class="{{devicesInfo}} bg-device")
						div
							img(ng-src="{{devicesImage.imagePC}}", alt="").img-pc
							img(ng-src="{{devicesImage.imageSP}}", alt="").img-sp
				div.other-list-detail
					h4 {{work.title}}
					dl
						dt Scope
						dd
							ul.work-category
								li(ng-repeat="scope in work.scope") {{scope}}
					dl
						dt Release
						dd {{work.release}}
					dl
						dt Devices
						dd {{work.devices}}
					dl
						dt Working Form
						dd {{work.workingForm}}
					dl
						dt URL
						dd
							a(class="blank" href="{{work.visit}}" target="_blank") {{work.visit}}
		div(ng-show="!filteredOtherWorks.length" style="padding-top: 20px;text-align: center;") Not match


div.work-page-list
	a.prev(href="#{conf.paths.root}/") BACK LIST

